body {
    background: #4d4d4d;
    color:white;
    font-family: "Georgia", "Courier New", monospace;}
    
body.home {
    background:url(images/ColemanCustom-3-1.JPG) center;
    color: white;
    font-family: "Georgia", "Courier New", monospace;}    
    
div.flex {
    width:95%;
    height:95%;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    background:#404040;}
       
figure.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background:black;}
            
img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width:65%;}
    
img.adj {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width:15%;}
    
nav.right{
    text-align:right;}
    
nav.center{
    text-align:center;}
    
a.link{
    color:white;
    text-decoration:none;}
    
figcaption{
    text-align:center;
    color:white;}

h1.center{
    text-align:center;}


