body {
                background: #12ce81;
                font-family: "Lucida Console", "Courier New", monospace;
            }
            
figure {width:60%;
             background: #12ce81;;
            }
            
img {width:80%;}
            
img#PSB {width:10%;}
            
section{
            background: red;
            width:90%;
            margin:auto;
            }
